<div id="dashboard" class="dash">
<h1>Dashboard</h1>
    <div class="dashboard_button_container">
        <%= link_to "",contracts_webready_path,:class => "start_new_button" %>
        <%= link_to "",contracts_professional_path,:class => "start_new_button" %>
    </div>
    <div class="clear"></div>
</div>
