<div id="build">
	<div id="build_main">
	  <div id="pro_build_design">
      <div id="hourly_box">
      <h1 class="hourly_h1">Hourly Rate: </h1>
      <form id="hourly_rate_form" action="#" method="post">
          <input type="hidden" name="id" value="141" />
          <input type="text" class="hourly_rate" name="hourly" value="150" />
          <input type="submit" value="" class="hourly_rate_button">
      </form>
      <div class="clear"></div>
      </div>
      <div class="clear"></div>
      <form id="save_pro" name="save_pro" action="/build/save_pro/141" method="post"></form>
		</div>
	</div>
</div>
   
  
