* { margin: 0; padding: 0; }

body { font-family: 'Helvetica', 'Arial', sans; }

.clear { clear: both; }

div#mainContainer { width: 900px; margin: 0 auto; }

div#logo { padding: 100px 0; }

div#title_box { background: #0072bc !important; height: 200px; width: 100%; padding: 60px 0 60px 30px; }
div#title_box h1 { color: #fff; font-size: 70px;  }
div#title_box h2 { color: #4cc8f3; font-size: 40px; font-weight: normal; margin-top: 10px;  }
div#title_box h3 { color: #fff;font-size: 28px; font-weight: normal; margin-top: 10px; }

div#presented { text-align: left; padding: 20px 0; }
div#presented em { color: #666; font-style: none; margin: 12px 0;  }
div#presented p { color: #666; margin: 4px;}
div#presented h3 { color: #0072bc; margin: 18px 0; }
div#presented h4 { color: #0072bc; font-weight: normal;margin: 4px; }

div.alt_box { background: #fdfdfd; padding: 30px; border: 1px solid #ddd; margin: 20px 0 40px 0; }
div.alt_box_c { background: #fdfdfd; padding: 20px; border: 1px solid #ddd; }
div.alt_box_c h1 { color: #666; }

h1 { color: #fff; font-size: 70px;  }
h2 { color: #4cc8f3; font-size: 40px; font-weight: normal; margin: 30px 0px 20px 0; }
h3 { color: #fff; font-size: 28px; font-weight: normal; margin: 16px 0; }
strong { color: #0072bc; }
em { color: #666; font-style: none; margin: 12px; }
p { color: #666; margin: 4px; line-height: 1.5em; margin: 12px 0; }
h3 { color: #0072bc;  margin-top: 18px; }
h4 { color: #0072bc; font-weight: normal;margin: 12px 0; }

ul, ol { list-style-position: inside; }
ul li, ol li { margin: 12px 0; color: #0072bc; }

ol#toe li { color: #666; font-size: 13px; }

table { margin: 30px 0 ; color: #666; }
table p { color: #666; }
table th { color: #666; background: #ededed; text-align: left; }
table#saved_table { }
table#saved_table td, table#saved_table th { padding: 12px; border: 1px solid #dedede; }

.feature_description { font-size: 13px; padding: 0 0 0 30px; margin: 0 0 20px 0; border-left: 1px solid #d1d1d1; }
.feature_description ul { margin-left: 16px; }