
<div id="logo">
	<%= image_tag('/img/output_logo.png') %>
</div>

<!--<div id="title_box">
	<h1><%= @contract.name %></h1>
	<h2>Website Design & Development</h2>
	<h3>Date Issued: <%= @t.strftime('%B %d, %Y') %></h3>
</div>-->

<div id="presented">
	<em>Presented By:</em>
	<h3>BC Name</h3>
	<h4>John Doe</h4>
	<p>johndoe@bluefountainmedia.com</p>
	<h3>AD Name</h3>
	<h4>Jane Doe</h4>
	<p>janedoe@bluefountainmedia.com</p>
	<h3>Blue Fountain Media</h3>
	<p>102 Madison Ave., 2nd Floor</p>
	<p>New York, NY 11016<p>
		<p />
	<p>Phone: 212-260-1978</p>
	<p>Fax: 800-278-0816</p>
</div>	