
<div id="logo" style="margin-top: 140px;">
	<%= image_tag('/img/output_logo.jpg') %>
</div>

<div id="presented">
	<em>Presented By:</em>
	<h3>BC Name</h3>
	<h4>BC Name</h4>
	<p>bc@bluefountainmedia.com</p>
	<h3>AD Name</h3>
	<h4>AD Name</h4>
	<p>ad@bluefountainmedia.com</p>
	<h3>Blue Fountain Media</h3>
	<p>102 Madison Ave., 2nd Floor</p>
	<p>New York, NY 11016<p>
		<p />
	<p>Phone: 212-260-1978</p>
	<p>Fax: 800-278-0816</p>
</div>	