<h2>TERMS OF ENGAGEMENT </h2>
<ol>

<li>Client Representative.  The Client will provide one (1) representative from the client side who will communicate with BFM (regarding art direction, text images, functionality, etc.) to streamline the process and prevent miscommunication.  In the event that the Client changes their designated representative, BFM must be notified in writing of the change, and all prior approvals up to the representative change shall remain valid. Subsequent edits and change orders to previously approved work are out of Scope, and will be billed at BFM standard hourly rate of $150 per hour.</li>

<li>Client Communication and Project Management. In order to avoid miscommunication, Client will provide all edits, approvals and requests to BFM in writing, via email, before implementation. If Client wishes to review edits via phone after they are emailed, a time will be confirmed in advance.</li>

<li>In the event Client communications with BFM is trending towards exceeding the allocated management time, BFM shall notify Client in advance and bill such additional time at the standard hourly rate of $150 per hour. </li>

<li>Progress Reports.  BFM will provide Client with updates via email and phone as work progresses at regularly scheduled times.</li>

<li>Change Orders.  Should Client request BFM to perform services or tasks that are not provided within the scope of work of this agreement, BFM will immediately notify the Client and the requested work will trigger a change order. Change orders may be subject to additional fees. In such a case, BFM will provide Client with a written time and cost estimate for the additional work for their review.  BFM will not perform any out of scope work without receiving writing approval to proceed.</li>  

<li>Additional Client Requests.  Should project exceed the number of hours allocated in this agreement because of additional requested work by Client (beyond the services contemplated herein), Client will be charged standard hourly rate of $150 per hour or flat project rate. BFM will notify Client when they are requesting work that lies outside this Scope of Work, and will provide Client with a separate cost estimate for said work for Client's review and approval.</li>

<li>Client Materials.  Client shall retain ownership of all content and materials provided to BFM hereunder. Client takes full responsibility for any content (including without any limitations graphics, audio, copy text, video, and images) provided to BFM to be used in this project. Client represents and warrants that it has full rights to use all content and materials provided to BFM. Client indemnifies and holds harmless BFM from all damages, costs and expenses, including but not limited to, reasonable attorney's fees, incurred by BFM as a result of a claim or assertion that content and/or material provided by Client may have violated the rights of another party.</li>

<li>Client Caused Delays.  In order to complete Client's project in a timeline fashion, BFM has allocated personnel to perform work at scheduled times in accordance with a project timeline.  In the event Client fails to deliver content, images, directional notes, approvals or other required information to BFM by the dates specified in the project timeline, all subsequent deadline and project milestones will be postponed accordingly.  In the event Client fails to deliver content, images, directional notes, approvals or other required information to BFM by more than five (5) business days after the dates specified in the project timeline, subsequent deadlines may be postponed for lengthier durations due to BFM work personnel reallocation and rescheduling.  In the event Client fails to deliver content, images, directional notes, approvals for more than two (2) months after dates specified in the project timeline, final payment will be due, billed by the hour (not by the project), for all work completed to date and the project will be put on hold. </li>

<li>Loss of Damages. In no event will BFM be liable for any special, incidental, indirect or consequential damages whatsoever (including, but not limited to, damages for loss of business profits, business interruption or any other pecuniary loss) arising out of the services provided by BFM. Notwithstanding any damages that Client might incur for any reason whatsoever, the entire liability of BFM under any provision of this Agreement and Client's exclusive remedy (except for any repair or replacement elected by BFM pursuant to this Agreement) shall be limited to the lesser of the fee actually paid by Client or Client's actual damages.  The provisions herein shall apply to the maximum extent, even if any remedy fails its essential purpose.</li>

<li>Ownership of Work.  All work performed by BFM for the Client will become the property of the Client upon full payment of all amounts due and owing. Except however, BFM may retain ownership of certain source code, in which case the Client is granted a non-revocable, non-exclusive, worldwide, royalty free license to use such source code owned by BFM. Additionally, the Client's work may contain software and other property licensed by third parties, in such event the terms of such third party license shall control.</li>

<li>Monthly Service Retainer Plan.  In the event that a monthly service retainer is a component of this Agreement, the Client acknowledges that upon the execution of this Agreement BFM will allocate substantial personnel and equipment resources to the Client. Therefore, the term for service of the monthly service retainer fee will be a one-year commitment by the Client. Following expiration of the one-year term, the monthly service will automatically renew for an additional one-year term. Notwithstanding the foregoing, Client may cancel the monthly services at any time by providing BFM with 60 days prior written notice. If Client does not select a monthly service plan, any further work such as consultation, design or development will be billed hourly at BFM's standard rate of $150 per hour. BFM will provide at least 60 days prior written notice of any increase in the fee for monthly maintenance and/or monthly marketing services before a new term commences.  </li>

<li>Monthly Marketing Service Plan.  In the event that marketing is a component of this Agreement, the Client acknowledges that upon the execution of this Agreement BFM will allocate substantial marketing personnel and equipment resources toward the Client's project.  Due to this investment, the term for the marketing portion of this agreement shall be for one year.  BFM will incur substantial costs in the event the marketing service plan is terminated prior to the end of the one-year term. Following expiration of the one-year term, the monthly marketing will automatically renew for additional one-year terms, unless Client provides 60 days written notice prior to the end of such term. BFM will provide at least 60 days prior written notice of any increase in the fee for monthly maintenance and/or monthly marketing services before a new term commences.</li>

<li>Web Modulite Content Management System.  In the event that work provided to Client by BFM includes the Web Modulite Content Management System (Web Modulite), Customer agrees to pay a monthly licensing fee for the use of Web Modulite as set forth in this Agreement.  Customer agrees that so long as Web Modulite is utilized by Client, Client shall pay BFM's monthly license fee.  In the event that Customer fails to pay the monthly license fee, BFM will disable Web Modulite.  Client agrees to fully cooperate with BFM in the disabling of Web Modulite.  It is specifically understood by Client that Web Modulite is licensed and not sold to the Client.  Except for the license granted to Client by BFM, BFM owns all rights, titles, interests and ownership of Web Modulite.  Without BFM's prior written consent, Client may not sell, assign or in any way transfer its license of Web Modulite to any other party.  Web Modulite may only be configured by BFM.  Except for adding and revising data contained in the Web Modulite, Customer may not alter, revise or in any way modify Web Modulite.</li>

<li>Hosting. In the event that hosting is a part of this agreement, the fee for the hosting services will be invoiced monthly, quarterly or annually per the Clients request. The third party hosting service provider shall be responsible for Internet accessibility and all hardware. The hosting service provider is an independent third party not controlled by BFM. Accordingly, in no event will BFM be liable for any direct, general, special, incidental, indirect or consequential damages whatsoever (including but not limited to loss or damage to data, damages for loss of business profits, business interruption, loss of information or any other pecuniary loss) (collectively, “Damages”) arising out of the use of or inability to use the work provided by BFM, due to problems (including but not limited to errors, malfunctions) associated with the functions of the hosting service provider. Under no circumstance will BFM have any liability for any Damages incurred by Client as a result of downtime that Client's website may experience regardless of the cause of such downtime nor shall BFM have any liability for Damages resulting from the marketing services BFM provides to Client. </li>

<li>Expenses.  Client will be responsible to pay the expenses of any resources they request BFM to purchase, such as stock photos, videos, audio files, third party licenses or other media assets. Client may choose to purchase these items directly and provide them to BFM for use on their project. Client will reimburse BFM for any additional expenses including travel, copying, duplicating, shipping, and postage. All expenses over $250.00 will be approved by Client prior to purchase. </li>

<li>Warranty.  BFM guarantees our product (code) for a period of 30 days to be free of bugs and errors due to workmanship. The 30-Day warranty period is valid only for projects which are hosted and uploaded to the live servers by BFM. This guarantee will be waived if the client requests FTP (source code of the site) access to the site server. </li>

<li> FTP Access. In order to receive FTP access Client must sign a document exempting BFM from any and all liability for the website or from any issues that may result on the server or with any other software running on that server caused by having granted such access to Client. FTP access will not be granted to the client until all outstanding payments are received. </li>

<li> Invoices.  Invoices are due upon receipt, unless otherwise stated. Accounts 30 days past due are subject to a 5% finance charge accrued per month on the outstanding balance. Client agrees to pay all costs, including, but not limited to, reasonable attorney and accounting fees, court costs and other expenses of collection resulting from any default by Client in any of the terms hereof.</li>

<li> Governing Law.  This agreement and all transactions contemplated hereby, shall be governed by, construed, and enforced in accordance with the laws of the State of New York. This agreement and the rights of the parties hereto shall be governed and interpreted in all respects by the law applied to Agreements made and wholly to be performed within the State of New York, without giving effect to the conflict of laws and rules thereto.</li>

<li> Expiration. This agreement is valid for 90 days from the date issued. All rates, services and hours are subject to change after this 90 day period.</li>

<li> Termination.  This Agreement may only be terminated upon the written consent of both the Client and BFM. </li>

</ol>
<h2>AGREED AND ACCEPTED</h2>
<div class="alt_box">
<table cellpadding="0" cellspacing="20">
<tr>
<td><strong>Client</strong							</td><td><strong>Blue Fountain Media</strong></td></tr>


<td>__________________________________________	</td><td>	___________________________________________</td></tr>
<td>Signature					</td>	<td>Signature </td></tr>


<td>__________________________________________</td><td>		___________________________________________</td></tr>
<td>Printed Name of Authorized Official		</td><td>	Printed Name of Authorized Official	</td></tr>


<td>__________________________________________	</td><td>	___________________________________________</td></tr>
<td>Date						</td><td>	Date</td></tr>
</table>
</div>
<div class="clear" style="height:100px; width: 1px;">

