<div id="admin_pages">

<h1>Admin Section</h1>
<h3>Professional</h3>
<ul>
<li><%= link_to "Professional Designs", admin_professional_template_index_path(:page_type => 'design') %></li>
<li><%= link_to "Professional Front End Coding", admin_professional_template_index_path(:page_type => 'front_end') %></li>
</ul>
<h3>Web Ready</h3>
</div> 
